.row {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #FFFFFF;
}

.pic {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic img {
    max-width: 100%;
}

.collection {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel button {
    width: 100%;
    color: #FFFFFF;
}
